<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCCSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TCCSim.Properties.Settings>
            <setting name="Bounds" serializeAs="String">
                <value>-1, -1, 907, 586</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MCBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="MCState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SplitDist" serializeAs="String">
                <value>240</value>
            </setting>
        </TCCSim.Properties.Settings>
    </userSettings>
</configuration>