<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AOSAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AOSAnalyzer.Properties.Settings>
            <setting name="graphHeight" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="DefaultTraceScale" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Bounds" serializeAs="String">
                <value>-1, -1, 907, 586</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="markerStepValue" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </AOSAnalyzer.Properties.Settings>
    </userSettings>
</configuration>